<div class="container">
    <div class="">
        <div class="input justify-content-end">
            <input type="text" [(ngModel)]="phrase" placeholder="Search title or description" (ngModelChange)="search(phrase)">
        </div>
        <div class="btn">
            <button type="button" class="btn btn-primary" (click)="search(phrase)">search</button>
        </div>
    </div>
    <table class="table-stripped">
        <thead class="bg-dark text-light table-responsive-lg">
            <tr>
                <th>Number</th>
                <th>Date</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody *ngIf="searchData.length < 1">
            <tr *ngFor="let t of homeRecords">
                <td>{{ t.id }}</td>
                <td>{{t.date}}</td>
                <td>{{t.title}}</td>
                <td>{{t.description}}</td>
            </tr>
        </tbody>
        <tbody *ngIf="searchData.length > 0">
            <tr *ngFor="let t of searchData">
                <td>{{ t.id }}</td>
                <td>{{t.date}}</td>
                <td>{{t.title}}</td>
                <td>{{t.description}}</td>
            </tr>
        </tbody>
    </table>
</div>
<router-outlet></router-outlet>
